.vs/
.vscode/
ArduinoCarInstructionCreator/ArduinoCarInstructionCreator/.vs/ArduinoCarInstructionCreator/v16/.suo
ArduinoCarInstructionCreator/ArduinoCarInstructionCreator/.vs/ArduinoCarInstructionCreator/v16/Server/sqlite3/storage.ide-shm
ArduinoCarInstructionCreator/ArduinoCarInstructionCreator/.vs/ArduinoCarInstructionCreator/v16/Server/sqlite3/storage.ide-wal